.Slider{
    width: auto;
    height: auto;
}

.demora{
    transition: 2s;
}

.bottom{
    font-size: 20px;
    height: 50px;
    width: 300px;
   border: 1.4px solid green;
   border-radius: 2px;
}

.bottom:hover{
    background-color: green;
}

.container {
    display: flex;
    justify-content: center; 
    gap: 100px; 
    padding: 20px;
  }
  
  .box {
    text-align: center;
  }
  
  .location-button {
    background-color: #f5f5dc; 
    border: 2px solid #4d774e; 
    border-radius: 10px;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #4d774e;
    cursor: pointer;
    width: 250px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra opcional */
  }
  
  .location-button strong {
    font-size: 18px;
  }
  
  .location-button:hover {
    background-color: #e0e0d1; /* Cambio de color en hover */
  }
  
  .texto{
    background-color: #4d774e;
    display: flex;
    gap: 300px; /* Espacio entre los botones */
    padding: 20px;
  }